body {
  background-image: url(../public/dog_pattern.jpg);
  background-size: contain;
  background-repeat: repeat;
}

.App {
  text-align: center;
  width: 100%;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: darkblue;
  background-color: rgba(255, 255, 255, 0.5);
}

.dogs {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: .5em;
}

.dogs img {
  max-height: vh;
}

img {
  width: 100vw;
}

@media (min-width: 30em) and (orientation: landscape) {
  img {
    height: 75vh;
    width: auto;
  }
}