body {
  background-image: url(../public/dog_pattern.jpg);
  background-size: contain;
  background-repeat: repeat;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkblue;
  background-color: rgba(255, 255, 255, 0.5);
}

img {
  width: 100vw;
}

@media (min-width: 30em) and (orientation: landscape) {
  img {
    height: 90vh;
    width: auto;
  }
}